/* HERO SECTION */

.hero{
    width:100%;
    height:100vh;
    background:url("images/hero.jpg") center center/cover no-repeat;
    position:relative;
}

.hero-overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.55);
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-content{
    width:90%;
    max-width:900px;
    text-align:center;
    color:white;
}

.welcome{
    color:#FFD700;
    letter-spacing:3px;
    margin-bottom:15px;
}

.hero h1{
    font-size:70px;
    font-weight:700;
    margin-bottom:15px;
}

.hero h2{
    font-size:32px;
    margin-bottom:20px;
    color:#ffffff;
}

.tagline{
    font-size:28px;
    color:#ff9933;
    font-weight:bold;
    margin-bottom:15px;
}

.service{
    font-size:22px;
    margin-bottom:25px;
}

.quote{
    font-size:22px;
    font-style:italic;
    line-height:1.8;
    margin-bottom:40px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    padding:15px 40px;
    background:#ff9933;
    color:white;
    text-decoration:none;
    border-radius:40px;
    font-size:20px;
    transition:.3s;
}

.btn:hover{
    background:#138808;
}

.btn-outline{
    background:transparent;
    border:2px solid white;
}

.btn-outline:hover{
    background:white;
    color:black;
}

@media(max-width:768px){

.hero h1{
font-size:42px;
}

.hero h2{
font-size:24px;
}

.tagline{
font-size:22px;
}

.quote{
font-size:18px;
}

}
